.container {
  margin-bottom: 20px;
}

.btn {
  color: rgb(0, 0, 0);
  border: none;
  width: 85px;
  height: 40px;
  background-color: rgb(190, 192, 190);
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.btn:focus,
.btn:hover {
  color: white;
  transform: scale(1.05);
}
